<h1>Welcome to Bo's first project</h1>
<% @images.each do |image| %>
  <div class="js-image-bundle">
    <%= image_tag(image.url, class: 'js-image image')  %>
    <div class="js-tag-list">
      <%= image.tag_list %>
    </div>
  </div>
<% end %>

<%= link_to 'Add Image', new_image_path %>
